<mat-spinner *ngIf="isLoading"></mat-spinner>
<table
  *ngIf="dataSource.length > 0 && !isLoading"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="empNo">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.index }}</td>
  </ng-container>
  <ng-container matColumnDef="empCode">
    <th mat-header-cell *matHeaderCellDef>Employee Code</th>
    <td mat-cell *matCellDef="let element">{{ element.empCode }}</td>
  </ng-container>

  <ng-container matColumnDef="empName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.empName | titlecase }}
    </td>
  </ng-container>

  <ng-container matColumnDef="empRole">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">
      {{ element.empRole | titlecase }}
    </td>
  </ng-container>

  <ng-container matColumnDef="empDob">
    <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
    <td mat-cell *matCellDef="let element">
      {{ element.empDob | date: "medium" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Edit/Delete</th>
    <td mat-cell *matCellDef="let row">
      <a mat-icon-button color="primary" [routerLink]="['/edit', row.id]"
        >Edit</a
      >
      <button mat-icon-button color="warn" (click)="onDelete(row.id)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<h2 *ngIf="dataSource.length <= 0 && !isLoading">No Employees added yet!</h2>
