:host{
    display: block;
    margin-top: 1rem;
}

table {
    width: 100%;
    margin:auto
  }

  h2{
    text-align: center;
    color: red;
    padding: 2rem;
  }

  mat-spinner{
    margin:auto
  }